* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(204 244 255);
}

.wrapper {
  display: flex;
  justify-content: center;

  font-family: "Roboto", serif;
  font-size: 20px;
  flex-direction: column;
  align-items: center;

  background-color: #fff;
  border-radius: 10px;
  width: 50%;
  margin: 70px auto;
  padding: 20px;
}

.content {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.input {
  display: block;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin: 0 auto 20px;
  width: 100%;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categories-title {
  margin-bottom: 10px;
}

.categories > div {
  width: 30%;
  padding: 10px;
}

.resultList {
  margin-top: 10px;
  align-items: center;
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.resultList-title {
   align-items: center;
 }

.resultList li {
   padding: 5px;
}
